* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	min-width: 1020px;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	width: 1010px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.color-green {
	color: #7cc159;
}


.btn_close {
	top: -45px;
	right: -84px;
	width: 57px;
	height: 57px;
	cursor: pointer;
	position: absolute;
	background: url("../img/icon-close.png") 0 0 no-repeat;
}

.modal-box {
	width: 600px;
	font-size: 16px;
	padding: 30px 30px;
	font-family: $font-century;

	.form-title {
		font-size: 22px;
		font-weight: 800;
		line-height: 28px;
		text-align: center;
		font-family: $font-base;
		margin: 0 -10px 20px -10px;
		text-transform: uppercase;
	}

}


.form-block {
	width: 320px;
	padding: 20px 20px;

	.form-title {
		font-size: 22px;
		font-weight: 800;
		line-height: 28px;
		text-align: center;
		margin: 0 -10px 20px -10px;
		text-transform: uppercase;
	}

	.form-subtitle {
		color: #fff;
		padding: 7px 5px;
		font-size: 13px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		background: #195fa8;
		margin-bottom: 10px;
	}

	.form-text {
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		margin-bottom: 10px;
	}


	.btn {
		width: 100%;
		margin-top: 5px;
	}
}


.modal-form {
	width: 320px;
}
