.b01 {
    height: 980px;
    color: #52373c;
    padding-top: 4px;
    background: url("../img/b01_bg.jpg") 50% 0 no-repeat;

    .top {
        margin-bottom: 20px;

        .tel {
            color: #52373c;
            font-size: 30px;
            line-height: 36px;
            font-family: $font-century;
        }
    }

    .logo {
        text-align: center;
        margin-bottom: 90px;
    }

    h1 {
        font-size: 25px;
        line-height: 45px;
        text-align: center;
        margin-bottom: 80px;

        span {
            display: block;
            font-size: 45px;
            text-transform: uppercase;
        }
    }

    .text {
        color: #616161;
        font-size: 20px;
        line-height: 30px;
        padding-left: 242px;

        p {
            padding-top: 20px;
        }

        strong {
            font-size: 40px;
            line-height: 50px;
            text-transform: uppercase;
        }

    }

    p {

        strong {

        }
    }
}