.b05 {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;

    &:before {
        left: 0;
        right: 0;
        content: '';
        bottom: -15px;
        height: 466px;
        z-index: 50;
        position: absolute;
        background: url("../img/b05_bg.png") 50% 100% no-repeat;
    }

    .container {
        z-index: 100;
    }

    .h2 {
        color: #52373c;
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 80px;

        span {
            display: block;
            font-size: 28px;
            line-height: 30px;
        }
    }

    .vk-box {
        float: left;
        margin-right: 75px;
    }

    .instagram-box {
        float: left;
    }
}