.b03 {
    height: 696px;
    padding-top: 160px;
    background: url("../img/b03_bg.jpg") 50% 0 no-repeat;

    .h2 {
        color: #624b4f;
        font-size: 28px;
        line-height: 50px;
        margin-bottom: 80px;
        text-align: center;
    }

    .price {

        li {
            float: left;
            width: 462px;
            color: #665558;
            text-align: center;

            &:first-child {
                margin-right: 56px;
            }
        }

        .price-box {
            overflow: hidden;
            margin-bottom: 25px;
            border: 1px solid #7cc159;
            @include border-radius(16px);

            .price-text {
                color: #52373c;
                font-size: 25px;
                line-height: 23px;
                padding: 12px 8px;
                text-align: center;
            }

            .price-value {
                color: #fff;
                padding: 16px 5px;
                font-size: 28px;
                line-height: 50px;
                text-align: center;
                background: #7cc159;

                span {
                    font-size: 48px;
                }
            }
        }

        .price-num {
            font-size: 19px;
            line-height: 25px;
            margin-bottom: 10px;
        }

        .price-sub {
            font-size: 15px;
            line-height: 20px;
            font-family: $font-century;
        }
    }
}