.b04 {
    color: #fff;
    height: 412px;
    padding-top: 95px;
    background: url("../img/b04_bg.jpg") 50% 0 no-repeat;

    .h2 {
        color: #52373c;
        font-size: 50px;
        line-height: 60px;
    }

    .tel {
        color: #fff;
        font-size: 150px;
        line-height: 150px;
        text-decoration: none;
        margin-bottom: 12px;
    }

    .worktime {
        color: #52373c;
        font-size: 22px;
        line-height: 26px;
        font-family: $font-century;
    }

    .text-box {
        top: 40px;
        left: 630px;
        color: #fff;
        width: 352px;
        height: 159px;
        font-size: 13px;
        padding-top: 40px;
        padding-left: 30px;
        line-height: 22px;
        position: absolute;
        background: url("../img/b04_text.png") 0 0 no-repeat;

        span {
            font-size: 20px;
            line-height: 22px;
        }

        strong {
            display: block;
            font-size: 36px;
            font-weight: 400;
            line-height: 40px;

        }
    }
}