.b06 {
    position: relative;

    #map {
        height: 540px;
    }

    .h2 {
        top: 0;
        left: 0;
        right: 0;
        height: 84px;
        z-index: 200;
        color: #fff;
        font-size: 50px;
        line-height: 54px;
        padding: 15px 20px;
        position: absolute;
        text-align: center;
        background: url("../img/b06_top_bg.png") 50% 0 no-repeat;
    }

    .good-price {
        top: 445px;
        left: 50%;
        width: 628px;
        height: 76px;
        z-index: 200;
        color: #52373c;
        font-size: 30px;
        padding: 10px 0;
        background: #fff;
        line-height: 56px;
        margin-left: -314px;
        text-align: center;
        position: absolute;
        @include border-radius(16px);

        &:before {
            top: -45px;
            right: -45px;
            width: 86px;
            height: 88px;
            content: '';
            position: absolute;
            background: url("../img/icon-p.png") 0 0 no-repeat;
        }
    }
}