.b02 {
    background: #f9f9f9;
    padding-top: 100px;
    position: relative;

    &:before {
        left: 0;
        right: 0;
        content: '';
        top: - 160px;
        height: 247px;
        position: absolute;
        background: url("../img/b02_bg_top.png") 50% 0 no-repeat;
    }

    .h2 {
        color: #52373c;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 80px;
        text-transform: uppercase;

        span {
            color: #7abe57;
            display: block;
            font-size: 30px;
            line-height: 40px;
        }
    }

    .showcase {

        margin: 0 -15px;

        li {
            float: left;
            width: 33.33%;
            padding: 0 15px;
            margin-bottom: 60px;
            text-align: center;

            .showcase-image {
                position: relative;
                margin-bottom: 10px;

                .showcase-icon {
                    top: 0;
                    left: 0;
                    right: 0;
                    position: absolute;

                    img {
                        @include img-responsive(inline-block);
                    }
                }
            }
        }
    }
}