@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic/943658.eot');
    src: url('../fonts/CenturyGothic/943658.eot') format('embedded-opentype'),
    url('../fonts/CenturyGothic/943658.woff') format('woff'),
    url('../fonts/CenturyGothic/943658.ttf') format('truetype'),
    url('../fonts/CenturyGothic/943658.svg#CenturyGothic') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic-Bold/946379.eot');
    src: url('../fonts/CenturyGothic-Bold/946379.eot') format('embedded-opentype'),
    url('../fonts/CenturyGothic-Bold/946379.woff') format('woff'),
    url('../fonts/CenturyGothic-Bold/946379.ttf') format('truetype'),
    url('../fonts/CenturyGothic-Bold/946379.svg#CenturyGothic-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family:'TF2Build';
    src: url('../fonts/TF2Build-Regular/TF2Build.eot');
    src: url('../fonts/TF2Build-Regular/TF2Build.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TF2Build-Regular/TF2Build.woff') format('woff'),
    url('../fonts/TF2Build-Regular/TF2Build.ttf') format('truetype'),
    url('../fonts/TF2Build-Regular/TF2Build.svg#TF2Build-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}