.footer {
    color: #52373c;
    background: #fff;

    .footer-row {
        width: 100%;
        display: table;

        > li {
            height: 130px;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .tel {
        color: #52373c;
        font-size: 25px;
        line-height: 30px;
        text-decoration: none;
        font-family: $font-century;
    }


    .adr {
        font-size: 15px;
        line-height: 21px;
        font-family: $font-century;
    }

    .mail {
        color: #52373c;
        font-size: 15px;
        line-height: 20px;
        display: inline-block;
        margin-bottom: 5px;
        text-decoration: none;
        font-family: $font-century;
    }

    .social {
        font-size: 0;
        line-height: 0;

        li {
            margin-left: 10px;
            display: inline-block;
        }
    }
}