
$body-bg                :   #fff !default;
$text-color             :   #624b4f !default;
$link-color             :   #0d80e6 !default;
$link-hover-decoration  :   underline;


$font-size-base         :   14px !default;
$line-height-base       :   1.428571429 !default;
$font-base              :   'TF2Build', Arial, sans-serif !default;
$font-century           :   'CenturyGothic';

