.btn {
	margin:0;
	color: #848484;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 13px 25px;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	font-family: $font-century;
	touch-action: manipulation;
	border: 1px solid #bababa;
	@include border-radius(16px);
	@include transition(.3s);

	&:hover {
		color: #848484;
		background: #d9d9d9;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}


.btn-first {
	margin:0;
	color: #fff;
	width: 476px;
	height: 56px;
	border: none;
	outline: none;
	padding: 15px 0;
	cursor: pointer;
	font-size: 24px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	touch-action: manipulation;
	background: url("../img/b01-btn.png") 0 0 no-repeat;

	&:before {
		top: -30px;
		left: -118px;
		content: '';
		width: 112px;
		height: 48px;
		position: absolute;
		background: url("../img/push.png") 0 0 no-repeat;
	}

	&:hover {
		color: #fff;
		background-position: 0 -56px;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}