.form-control {
	margin: 0;
	width: 100%;
	color: #000;
	outline: none;
	font-size: 12px;
	line-height: 20px;
	padding: 12px 20px;
	display: inline-block;
	background: transparent;
	border: 1px solid #b7b7b7;
	@include placeholder(#000);
	@include border-radius(16px);
	font-family: $font-century;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}

	&.form-shadow {
		border-color: transparent;
		@include box-shadow(0px 2px 7px 0px rgba(66, 66, 66, 0.2));
	}
}


label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 10px;
}